<!-- <h2>ChatRoomName</h2>
<div *ngFor="let item of roomData">
    <p>{{item.recipient_name}} : {{item.message}}</p>
</div>

<div>
    <input type="text" [(ngModel)]="chatMessage">
    <button class="btn btn-primary" (click)="this.sendMessages()">Send</button>
</div>
 -->



<div class="container py-5  ">

    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-6">

            <div class="card" id="chat2">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h5 class="mb-0">Chat Now</h5>

                </div>
                <div class="card-body scrollChat" #text [scrollTop]="text.scrollHeight"
                    data-mdb-perfect-scrollbar="true">

                    <div *ngFor="let item of roomData">
                        <div *ngIf="item.user_id === USERID; then content else notcontent">
                        </div>
                        <ng-template #content>
                            <div class="my-3">
                                <div class="d-flex flex-row justify-content-end p-0 mb-1 ">
                                    <span class="text-muted mr-1 "> {{item.recipient_name}} </span>
                                    <i class="fa fa-user-circle-o  " aria-hidden="true"></i>

                                </div>
                                <div class="d-flex flex-row justify-content-end ml-3 p-0">
                                    <li class="list-group-item  bg-primary text-white py-1 ">
                                        {{item.message}}</li>
                                </div>

                            </div>
                        </ng-template>
                        <ng-template #notcontent>
                            <div class="my-3">
                                <div class="d-flex flex-row justify-content-start p-0 mb-1 ">
                                    <i class="fa fa-user-circle-o  " aria-hidden="true"></i>
                                    <span class="text-muted ml-1 "> {{item.recipient_name}} </span>
                                </div>
                                <div class="d-flex flex-row justify-content-start ml-3 p-0">
                                    <li class="list-group-item  bg-light text-dark py-1 ">
                                        {{item.message}}</li>
                                </div>

                            </div>
                        </ng-template>

                    </div>



                </div>
                <div class=" d-flex justify-content-between align-items-center ">
                    <i class="fa fa-user-circle mx-2" aria-hidden="true"></i>
                    <input type="text" [(ngModel)]="chatMessage" placeholder="send a message"
                        style="width: 100%; height: 50px; border: 0;">
                    <button class="btn text-primary" (click)="this.sendMessages()"><i class="fa fa-arrow-right"
                            aria-hidden="true"></i></button>
                </div>
            </div>
        </div>

    </div>
</div>