
.cover-container {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 150px;
    height:250px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
.scrollChat{
   
     overflow-x: auto;
     overflow-y: hidden;
  }

  .scrollChat::-webkit-scrollbar {
    width: 1px;
    background-color: #F5F5F5; }
    
    .scrollChat::-webkit-scrollbar-thumb {
    border-radius: 10px;
    
    background-color: #adadad; }